In [1]:
## Implement pre-built absenteeism module and model to transfer the data from Jupyter to MySQL Workbench

from absenteeism_module import *

In [16]:
df= pd.read_csv('Absenteeism_new_data.csv')
df.head(10)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,22,27,01/06/2018,179,26,30,237.656,19,3,0,0
1,10,7,04/06/2018,361,52,28,237.656,27,1,1,4
2,14,23,06/06/2018,155,12,34,237.656,25,1,2,0
3,17,25,08/06/2018,179,22,40,237.656,22,2,2,0
4,14,10,08/06/2018,155,12,34,237.656,25,1,2,0
5,28,11,11/06/2018,225,26,28,237.656,24,1,1,2
6,16,7,13/06/2018,118,15,46,275.089,25,1,2,0
7,22,27,13/06/2018,179,26,30,275.089,19,3,0,0
8,34,26,15/06/2018,118,10,37,275.089,28,1,0,0
9,34,10,20/06/2018,118,10,37,275.089,28,1,0,0

In [3]:
model = absenteeism_model('model','scaler')

C:\Python\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.linear_model.logistic module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.linear_model. Anything that cannot be imported from sklearn.linear_model is now part of the private API.
  warnings.warn(message, FutureWarning)
C:\Python\lib\site-packages\sklearn\base.py:313: UserWarning: Trying to unpickle estimator LogisticRegression from version 0.19.1 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\Python\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.preprocessing.data module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.preprocessing. Anything that cannot be imported from sklearn.preprocessing is now part of the private API.
  warnings.warn(message, FutureWarning)
C:\Python\lib\site-packages\sklearn\base.py:313: UserWarning: Trying to unpickle estimator StandardScaler from version 0.19.1 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [4]:
pip install -U scikit-learn scipy matplotlib --user

Requirement already satisfied: scikit-learn in c:\python\lib\site-packages (0.22.2.post1)
Collecting scikit-learn
  Using cached scikit_learn-1.0.2-cp39-cp39-win_amd64.whl (7.2 MB)
Requirement already satisfied: scipy in c:\python\lib\site-packages (1.8.0)
Requirement already satisfied: matplotlib in c:\users\sunghee.groffy\appdata\roaming\python\python39\site-packages (3.5.1)
Requirement already satisfied: numpy>=1.14.6 in c:\python\lib\site-packages (from scikit-learn) (1.21.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python\lib\site-packages (from scikit-learn) (3.0.0)
Requirement already satisfied: joblib>=0.11 in c:\python\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: pillow>=6.2.0 in c:\python\lib\site-packages (from matplotlib) (8.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\python\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: packaging>=20.0 in c:\python\lib\site-packages (from matplotlib) (21.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\python\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sunghee.groffy\appdata\roaming\python\python39\site-packages (from matplotlib) (4.32.0)
Requirement already satisfied: cycler>=0.10 in c:\python\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: six in c:\python\lib\site-packages (from cycler>=0.10->matplotlib) (1.16.0)
Installing collected packages: scikit-learn
Successfully installed scikit-learn-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
model = absenteeism_model('model','scaler')

In [6]:
model.load_and_clean_data('Absenteeism_new_data.csv')

In [7]:
model.predicted_outputs()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.122799,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.873392,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.268305,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.196385,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.723502,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.716891,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.570524,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.122799,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.134118,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.525007,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.454998,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.644742,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.351108,0
13,0,0.0,0,1,6,179,30,19,1,0,0,0.122799,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.096533,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.189479,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.644742,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.499738,0
18,0,0.0,0,1,6,291,40,25,0,1,1,0.389531,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.500161,1
20,0,0.0,0,1,7,118,37,28,0,0,0,0.134315,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.051367,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.525428,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.525428,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.051367,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.512352,1
26,0,0.0,1,0,7,233,31,21,1,1,8,0.351493,0
27,1,0.0,0,0,7,228,58,22,0,2,1,0.633385,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.134315,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.633385,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.244943,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.134315,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.491962,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.262240,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.966560,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.912399,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.746598,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.023090,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.295647,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.076450,0

In [8]:
## Importing pymysql 
## Creating connection and Cursor and INSERT statement

import pymysql
conn = pymysql.connect(database ='predicted_outputs', user = 'root', password = 'tmdgml159')
cursor = conn.cursor()

In [93]:
df_new_obs = model.predicted_outputs()
insert_query = 'INSERT INTO predicted_outputs VALUES'

In [14]:
df_new_obs.shape

(40, 13)

In [91]:
df_new_obs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.122799,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.873392,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.268305,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.196385,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.723502,1

In [15]:
df_new_obs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet', 'Probability', 'Prediction'], dtype=object)

In [40]:
df_new_obs[df_new_obs.columns.values[6]][0]

30

In [94]:
## Transferring Data using for loop
## first outer loop goes through every row of the dataframe
## inner loop goes through every column 

for i in range (df_new_obs.shape[0]):
    insert_query  +=  '('
    
    for j in range(df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i])+ ', '

    insert_query = insert_query[:-2] + '), '

In [95]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8733923470447209, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.26830495460343223, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.1963853143922252, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7235017225544896, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7168905020985188, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5705238370679658, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.1341180540896835, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5250065611752316, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.4549980207286245, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.3511076612078474, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.09653346354354148, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.1894785903905003, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4997382716585921, 0), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.38953149469288995, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.5001612226284468, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5123518738925141, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.35149320375017246, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.24494273576137351, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.4919621401501115, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.26224032774538253, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.966560156232829, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9123989237228621, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7465975923060953, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.023089501687401086, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.29564748904572213, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.07644956838010682, 0), '

In [96]:
insert_query = insert_query[:-2] +';'

In [97]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8733923470447209, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.26830495460343223, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.1963853143922252, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7235017225544896, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7168905020985188, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5705238370679658, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.1341180540896835, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5250065611752316, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.4549980207286245, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.3511076612078474, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.09653346354354148, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.1894785903905003, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4997382716585921, 0), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.38953149469288995, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.5001612226284468, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5123518738925141, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.35149320375017246, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.24494273576137351, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.4919621401501115, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.26224032774538253, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.966560156232829, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9123989237228621, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7465975923060953, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.023089501687401086, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.29564748904572213, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.07644956838010682, 0);'

In [98]:
cursor.execute(insert_query)

40

In [99]:
conn.commit()